<body>

    <div class="row">
    <!--<app-header />-->
    <div class="col-lg-6">
      <h2>Country Details</h2>
      <div class="mt-3">
        <form #f="ngForm">
          <div>
            <label for="selectedCountry" class="form-label">Select Country</label>
            <div class="mb-3">
              <select class="form-select form-control" name="selectedCountry" [(ngModel)]="selectedCountry"
                (ngModelChange)="onCountryChange($event)">
                <option *ngFor="let country of countries" [value]="country">
                  {{ country }}
                </option>
              </select>
            </div>
          </div>
          <hr />
            <div class="row">
            <div class="mb-3 col-4">
              <label for="countryName" class="form-label">Country</label>
              <input class="form-control form-control-sm" name="countryName" placeholder="name"
                [(ngModel)]="country.name.common" name="country.name" />
              </div>
            
              <div class="col ml-2 align-right border">
              <a href="#" class="align-right" data-bs-toggle="tooltip" data-bs-title="country.flagalt">
                <img [src]="country.flags.png" class="rounded float-end align-right" [alt]="country.flags.alt" loading="eager" />
              </a>
              </div>
            </div>

            <div>
              <div class="col">
                <label for="capital" class="form-label">Capital</label>
                <input class=" form-control" id="capital" name="capital" placeholder="capital"
                  [(ngModel)]="country.capital" name="country.capital" />
                </div>

                <div class="col">
                <label for="officialName" class="form-label">Official Name</label>
                <input class="form-control" name="officialName" placeholder="officialName"
                  [(ngModel)]="country.name.official" name="country.officialName" />
              </div>
            </div>
          <div>
            <div>
              <div class="mb-3">
                <label for="region" class="form-label">Region</label>
                <input class="form-control" name="region" placeholder="region" [(ngModel)]="country.region"
                  name="country.officialName" />
              </div>
            </div>
          </div>
          <div>
            <div>
              <div class="mb-3">
                <label for="subregion" class="form-label">Subregion</label>
                <input class="form-control" name="subregion" placeholder="subregion" [(ngModel)]="country.subregion"
                  id="name" name="country.subregion" />
              </div>
            </div>
          </div>
          <div>
            <div>
              <div class="mb-3">
                <label for="continent" class="form-label">Continent</label>
                <input class="form-control" name="continent" placeholder="continent" [(ngModel)]="country.continents"
                  id="continent" name="country.continent" />
              </div>
            </div>
          </div>
          <div>
            <div>
              <div class="mb-3">
                <label for="population" class="form-label">Population</label>
                <input class="form-control" name="population" placeholder="population"
                  [ngModel]="country.population | number: '2.0-0'" (ngModelChange)="country.population=$event"
                  id="population" name="country.population" />
              </div>
            </div>
          </div>
          <div>
            <div>
              <div class="mb-3">
                <label for="tld" class="form-label">Top Level Domain</label>
                <input class="form-control" name="tld" placeholder="tld" [(ngModel)]="country.tld" id="name"
                  name="country.tld" />
              </div>
            </div>
          </div>
          <div>
            <div>
              <div class="mb-3">
                <label for="cca2" class="form-label">2 letter country code</label>
                <input class="form-control" name="cca2" placeholder="cca2" [(ngModel)]="country.cca2" id="cca2"
                  name="country.cca2" />
              </div>
            </div>
          </div>
          <div>
            <div>
              <div class="mb-3">
                <label for="cca3" class="form-label">3 letter country code</label>
                <input class="form-control" name="cca3" placeholder="cca3" [(ngModel)]="country.cca3" id="cca3"
                  name="country.cca3" />
              </div>
            </div>
          </div>
          <!--
<div>
  <div>
    <div class="mb-3">
    <label>Google Maps</label>
    <input class="form-control"
      name="googleMaps"
      placeholder="googleMaps"
      [(ngModel)]="country.googleMaps"
      id="googleMaps"
      name="country.googleMaps"
    />
  </div>
</div>
</div>
-->

          <div>
            <div>
              <div class="mb-3">
                <label for="fifa" class="form-label">Fifa Code</label>
                <input class="form-control" name="fifa" placeholder="fifa" [(ngModel)]="country.fifa" name="fifa" />
              </div>
            </div>
          </div>
          <!--
<div>
<div>
  <div class="mb-3">
    <label for="drivingLane" class="form-label">Driving Lane</label>
    <input class="form-control"
    name="drivingLane"
    placeholder="drivingLane"
    [(ngModel)]="country.drivingLane"
    name="drivingLane"
  />
</div>
</div>
</div>
-->
          <div>
            <div class="mb-3">
              <label for="timezones" class="form-label">Timezone</label>
              <input class="form-control" name="timezones" placeholder="timezones" [(ngModel)]="country.timezones"
                name="timezones" />
            </div>
          </div>

          <div>
            <div class="mb-3">
              <label for="coatOfArms" class="form-label">Coat of Arms</label>
              <input class="form-control" name="coatOfArms" placeholder="coatOfArms" [(ngModel)]="country.coatOfArms"
                name="coatOfArms" />
            </div>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="checkbox" [ngModel]="country.independent" name="independent">
            <label class="form-check-label" for="flexCheckDefault">
              Independent
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" [ngModel]="country.unMember" name="unMember">
            <label class="form-check-label" for="flexCheckDefault">
              U.N. Member
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" [ngModel]="country.landlocked" name="landlocked">
            <label class="form-check-label" for="flexCheckDefault">
              Land Locked
            </label>
          </div>



        </form>
      </div>
      <!--
<div class="container mb-3 mr-3">
  <button (click)="onSubmit(f)" [ngClass]="'btn btn-primary'" placement="top-start" ngbTooltip="ngClass with string" tooltipClass="mb-1" [animation]="true">Submit</button>
  <button [ngClass]="['btn','btn-danger', ' mr-1']" placement="top" ngbTooltip="ngClass with array" tooltipClass="mb-1" [animation]="true">Reset</button>
  <button [ngClass]="{'btn':true, 'btn-secondary':true, 'mr-1':true}" placement="top" ngbTooltip="ngClass based on boolean value" tooltipClass="mb-1" [animation]="true">Confirm</button>
</div>
-->
    </div>
    <div class="col-lg-6">
      <h2>News</h2>
      <div class="container">
        <h3>Headlines</h3>
        @for (item of news.response.leadContent; track item) {
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{item.sectionName}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{item.type}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">{{item.webPublicationDate | date}}</h6>
              <p class="card-text">{{item.webTitle}}</p>
              <a href=`{{item.webUrl}}` class="card-link">Click to read</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          }
          @for (item of news.response.results; track item) {
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{item.sectionName}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.type}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{item.webPublicationDate | date}}</h6>
                <p class="card-text">{{item.webTitle}}</p>
                <a href=`{{item.webUrl}}` class="card-link">Click to read</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
            }

      </div>
      </div>
  </div>
</body>